body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  flex-direction: column;
  height: 15em;
  justify-content: center;
  /* background: rgb(0, 0, 0); */
  color: rgb(0, 0, 0);
  padding: 0px 5em;
  -webkit-box-align: center;
  align-items: center;
  margin-top: auto;
}

.span.resource.attribute {
  font-weight: bold;
}

.blank-row {
  height: 30px;
}

.topic {
  padding: 0 0 1em 0;
  margin: 0;
  text-transform: capitalize;
  list-style: none;
}

.header {
  height: 2.5em !important;
  padding: 2.5em;
}

.header-title {
  font-size: 1.2em;
  font-weight: 500;
}

.custom-container {
  display: flex;
  flex-direction: column;
  /* 17.5em is the header + the footer height combined. Sorry for the magic values. */
}

/* =============
 * Homepage
 * =============
 */

.homepage {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: auto;
  min-width: 480px;
  align-items: center;
}

.inbox-search-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.homepage-other-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* =============
 * Inbox
 * =============
 */

.inbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.suggestion-heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.suggestion-body {
  display: flex;
}

.suggestion-description {
  display: flex;
  flex-direction: column;
  flex: 5;
  justify-content: space-between;
  padding-right: 1em;
}

.suggestion-actions {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: fit-content;
}

.suggestion-topics {
  display: flex;
}