---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=pytorch-transformers%20in:readme%20topic:tensorflow%20topic:natural-language-processing
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.mercy-preview; format=json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1604136036'
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: UTF-8
      string: "{\"total_count\":13,\"incomplete_results\":false,\"items\":[{\"id\":155220641,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxNTUyMjA2NDE=\",\"name\":\"transformers\",\"full_name\":\"huggingface/transformers\",\"private\":false,\"owner\":{\"login\":\"huggingface\",\"id\":25720743,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjI1NzIwNzQz\",\"avatar_url\":\"https://avatars2.githubusercontent.com/u/25720743?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/huggingface\",\"html_url\":\"https://github.com/huggingface\",\"followers_url\":\"https://api.github.com/users/huggingface/followers\",\"following_url\":\"https://api.github.com/users/huggingface/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/huggingface/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/huggingface/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/huggingface/subscriptions\",\"organizations_url\":\"https://api.github.com/users/huggingface/orgs\",\"repos_url\":\"https://api.github.com/users/huggingface/repos\",\"events_url\":\"https://api.github.com/users/huggingface/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/huggingface/received_events\",\"type\":\"Organization\",\"site_admin\":false},\"html_url\":\"https://github.com/huggingface/transformers\",\"description\":\"\U0001F917Transformers:
        State-of-the-art Natural Language Processing for Pytorch and TensorFlow 2.0.\",\"fork\":false,\"url\":\"https://api.github.com/repos/huggingface/transformers\",\"forks_url\":\"https://api.github.com/repos/huggingface/transformers/forks\",\"keys_url\":\"https://api.github.com/repos/huggingface/transformers/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/huggingface/transformers/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/huggingface/transformers/teams\",\"hooks_url\":\"https://api.github.com/repos/huggingface/transformers/hooks\",\"issue_events_url\":\"https://api.github.com/repos/huggingface/transformers/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/huggingface/transformers/events\",\"assignees_url\":\"https://api.github.com/repos/huggingface/transformers/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/huggingface/transformers/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/huggingface/transformers/tags\",\"blobs_url\":\"https://api.github.com/repos/huggingface/transformers/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/huggingface/transformers/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/huggingface/transformers/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/huggingface/transformers/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/huggingface/transformers/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/huggingface/transformers/languages\",\"stargazers_url\":\"https://api.github.com/repos/huggingface/transformers/stargazers\",\"contributors_url\":\"https://api.github.com/repos/huggingface/transformers/contributors\",\"subscribers_url\":\"https://api.github.com/repos/huggingface/transformers/subscribers\",\"subscription_url\":\"https://api.github.com/repos/huggingface/transformers/subscription\",\"commits_url\":\"https://api.github.com/repos/huggingface/transformers/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/huggingface/transformers/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/huggingface/transformers/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/huggingface/transformers/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/huggingface/transformers/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/huggingface/transformers/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/huggingface/transformers/merges\",\"archive_url\":\"https://api.github.com/repos/huggingface/transformers/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/huggingface/transformers/downloads\",\"issues_url\":\"https://api.github.com/repos/huggingface/transformers/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/huggingface/transformers/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/huggingface/transformers/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/huggingface/transformers/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/huggingface/transformers/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/huggingface/transformers/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/huggingface/transformers/deployments\",\"created_at\":\"2018-10-29T13:56:00Z\",\"updated_at\":\"2020-10-31T09:19:13Z\",\"pushed_at\":\"2020-10-31T03:09:33Z\",\"git_url\":\"git://github.com/huggingface/transformers.git\",\"ssh_url\":\"git@github.com:huggingface/transformers.git\",\"clone_url\":\"https://github.com/huggingface/transformers.git\",\"svn_url\":\"https://github.com/huggingface/transformers\",\"homepage\":\"https://huggingface.co/transformers\",\"size\":37117,\"stargazers_count\":35939,\"watchers_count\":35939,\"language\":\"Python\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":false,\"forks_count\":8703,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":596,\"license\":{\"key\":\"apache-2.0\",\"name\":\"Apache
        License 2.0\",\"spdx_id\":\"Apache-2.0\",\"url\":\"https://api.github.com/licenses/apache-2.0\",\"node_id\":\"MDc6TGljZW5zZTI=\"},\"topics\":[\"bert\",\"gpt\",\"hacktoberfest-accepted\",\"language-model\",\"language-models\",\"natural-language-generation\",\"natural-language-processing\",\"natural-language-understanding\",\"nlp\",\"pytorch\",\"pytorch-transformers\",\"tensorflow\",\"transformer-xl\",\"xlm\",\"xlnet\"],\"forks\":8703,\"open_issues\":596,\"watchers\":35939,\"default_branch\":\"master\",\"permissions\":{\"admin\":false,\"push\":false,\"pull\":true},\"score\":1.0},{\"id\":164852596,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxNjQ4NTI1OTY=\",\"name\":\"nlp-tutorial\",\"full_name\":\"graykode/nlp-tutorial\",\"private\":false,\"owner\":{\"login\":\"graykode\",\"id\":10525011,\"node_id\":\"MDQ6VXNlcjEwNTI1MDEx\",\"avatar_url\":\"https://avatars0.githubusercontent.com/u/10525011?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/graykode\",\"html_url\":\"https://github.com/graykode\",\"followers_url\":\"https://api.github.com/users/graykode/followers\[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz%20topic:tensorflow%20topic:natural-language-processing
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.mercy-preview; format=json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '1604136036'
      X-Ratelimit-Used:
      - '4'
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"message":"The search is
        longer than 256 characters.","resource":"Search","field":"q","code":"invalid"}],"documentation_url":"https://docs.github.com/v3/search/"}'
  recorded_at: Sat, 31 Oct 2020 09:19:50 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.mercy-preview; format=json
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1604156144'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"message":"The search is
        longer than 256 characters.","resource":"Search","field":"q","code":"invalid"}],"documentation_url":"https://docs.github.com/v3/search/"}'
  recorded_at: Sat, 31 Oct 2020 14:54:44 GMT
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=pytorch-transformers%20in:readme
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token BAD_TOKEN
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.mercy-preview; format=json
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1604156144'
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Sat, 31 Oct 2020 14:54:44 GMT
- request:
    method: get
    uri: https://api.github.com/search/repositories?q=pytorch-transformers%20in:readme
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, repo,
        user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.mercy-preview; format=json
      Link:
      - <https://api.github.com/search/repositories?q=pytorch-transformers+in%3Areadme&page=2>;
        rel="next", <https://api.github.com/search/repositories?q=pytorch-transformers+in%3Areadme&page=34>;
        rel="last"
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1604156144'
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: "{\"total_count\":5348,\"incomplete_results\":false,\"items\":[{\"i[...]
